# UW STEMsub introduction to python in jupyter notebooks
Created by Amanda Worthy, PhD Student, University of Washington

In [57]:
# We will be a running a python kernel for our jupyter
# First we will start off by importing the python packages that we need

import seaborn as sn
import plotly.express as px
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, box
import fiona
import pyproj
import os
import requests
import matplotlib.ticker as ticker
import glob
import openpyxl

In [58]:
#this is our first code!!!

x=3

# Some introductory resources
- jupyter notebooks can have text/ markdown cells
- jupyter notebooks can have code cells


# Some shorthands commands
- use esc AND a to add a cell above the current cell (mac)
- use esc AND b to add a cell bellow the current cell (mac)
- use command AND s to save the notebook (mac)
- use shift AND return to run a cell (mac)


Please see the following resources for more introductory information:
- https://jakevdp.github.io/WhirlwindTourOfPython/ (great book by a UW alum, a good portion of this tutiorial was adapted from this book)
- https://www.dataquest.io/blog/jupyter-notebook-tutorial/ (basic webpage tutorial)
- https://colab.research.google.com/github/data-psl/lectures2020/blob/master/notebooks/01_python_basics.ipynb (made by google research, more comprehensive)


 ** Things can get complicated kind of quickly

 **** Google will be your best friend if you need syntax help!

### When searching for resources on google - include the library that you are working with in your search term

 EXAMPLES:  
 - "matricies in numpy"
 - "rename dataframe columns in pandas"
 - "merge dataframes in pandas"

## Lets introduce some simple syntex and define varraibles

# This is a large header!!

Here is some Markdown. Edit me! You can add...
### Markdown
#### headers of different sizes,
* bullet
* points

\`fixed width font\`

1. Ordered
2. Lists,

``code = this``

### Built-In Types: Simple Values



``int``     | ``x = 1``      | integers (i.e., whole numbers)                             

``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)
                 
``complex`` | ``x = 1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part)

``bool``    | ``x = True``   | Boolean: True/False values                                  

``str``     | ``x = 'abc'``  | String: characters or text                           

``NoneType``| ``x = None``   | Special object indicating nulls

In [59]:
string= 'this is a string' #use single quotes '...' or double quotes "..." to contain a string
integer = 4 #this is an interger
float_num= 2.234 #this is a float
boolean = True #this is a boolean
x = [1, 2, 3] #this is a list

In [60]:
#lets make a string

In [61]:
# lets check if we defined these correctly by using the built in function "type" 



# we can have multiple lines of code in a cell although only the last output is printed

In [62]:
# the print command will create output

In [63]:
#a semi-colon will surpress output

In [64]:
#lets print 2 arguements together using format

#### We can overwrite varraibles
NOTE: Be careful with this. It is reccomended to make a copy of varriables and to call manipulated varraibles new names.

In [65]:
 #use single quotes '...' or double quotes "..." to contain a string

string = 'heck ya'
interger= 3

In [66]:
# what is our number NOW and our string NOW?

print('our integer is NOW  {} and our string is {}'.format(integer, string))

our integer is NOW  4 and our string is heck ya

In [67]:
# you can add a comment with a hashtag

# this is the "best practice" for defining a new varriable

number_2 = 3

In [68]:
# what happens when we add a number to number_2
number_3= 3 + number_2

In [69]:
x = [1, 2, 3] # x is a list that we defined about but I have redefined it down here

In [70]:
#lets define y as x
y=x

In [71]:
# a few comments on lists

#what happens when you manupulate x ?


x.append(4)

# append 4 to the list pointed to by x

print(x)

# be carefull not to run this cell too many times

[1, 2, 3, 4]

In [72]:
type(x)

list

#### Python has 0 based indexing

In [73]:
#now lets look at indexing for lists
#python's first index is 0

x[0]

1

In [74]:
#lets define a string 



# 1st character


# first three characters

# 2nd to last character

In [75]:
#whats the length of the string

#use built in len

In [76]:
# Access individual characters in the string (zero-based indexing)

In [77]:
#Make a string upper case using .upper()

In [78]:
#we can multiply strings

### Built-In Data Structures
| ``list``  | ``[1, 2, 3]``             | Ordered collection                   
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection         
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Unordered (key,value) mapping         
| ``set``   | ``{1, 2, 3}``             | Unordered collection of unique values |

#### Lists

In [79]:
L = [1,3,2,4,5]

In [80]:
# Append a value to the end
L.append(11)
L

[1, 3, 2, 4, 5, 11]

In [81]:
L[1] # 2nd entry

3

In [82]:
# now sort list by number value

L.sort()

L.sort(reverse= True)


L.sort(reverse= False)

L

[1, 2, 3, 4, 5, 11]

In [83]:
# 2nd entry

In [84]:
 #1st to 3rd argumemts

In [85]:
L2 = [1, 'awe ya!', 3.14, [0, 3, 5]]

#whats the last entry here?

#### Tuples

- The main distinguishing feature of tuples is that they are immutable: this means that once they are created, their size and contents cannot be changed

In [86]:
t = (1, 2, 3)

In [87]:
# They can also be defined without any brackets at all

t = 1, 2, 3
print(t)

(1, 2, 3)

#### Dictionaries

- Dictionaries are extremely flexible mappings of keys to values, and form the basis of much of Python's internal implementation. They can be created via a comma-separated list of key:value pairs within curly braces.

In [88]:
#make a dictionary here

In [89]:
# Set a new key:value pair

# Lets add some text

In [90]:
# Access a value via the key

### Functions

- more on functions
  - https://www.w3schools.com/python/python_functions.asp
  - https://cs.stanford.edu/people/nick/py/python-for.html (more expansive)

In [91]:
def functionname( parameters ):
   "make a comment about your functions contents here"
   function_suite
   return [expression]

In [92]:
#lets make a greetings function

In [93]:
# now a function with arguements

In [94]:
#remember to define numbers

In [95]:
def numbers_print_string(numbers):
  list_of_numbers= []
  for num in numbers:
    list_of_numbers.append(num)
  return(list_of_numbers)

In [96]:
numbers_print_string(numbers)

['one', 'two', 'three', 'thirteen']

## Very short introduction to pandas (a major data science library in python)

In [97]:
df = pd.DataFrame({'label': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'value': [1, 2, 3, 4, 5, 6]})
df

  label  value
0     A      1
1     B      2
2     C      3
3     A      4
4     B      5
5     C      6

In [98]:
# lets create a new data frame with the amount of visitors per animal at the zoo 

import pandas as pd

In [99]:
# lets print the column names with .columns

In [100]:
#lets print or index on one column

In [101]:
#get all of the ages of the animals

In [102]:
#now lets only look at one animal

In [103]:
#lets make a dataframe for those who are older

In [104]:
#now the ones who live in the ocean

In [105]:
#lets make a plot of the relationship 

plt.scatter()
plt.title('');
plt.xlabel('')
plt.ylabel('');
plt.show()

TypeError: scatter() missing 2 required positional arguments: 'x' and 'y'